{:deps true
 :nrepl {:port 8777}
 :dev-http {8700 "resources/public"}
 :js-options {:js-package-dirs ["resources/public/node_modules"]}
 :builds {:app {:target :browser
                :modules {:base {:init-fn app.interface.core/init}}
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}}}
                :devtools {:preloads [devtools.preload]}}
          :test {:target :node-test
                 :output-dir "target/test/compiled/"
                 :output-to "target/test/compiled/test.js"
                 :ns-regexp "-test$"
                 :autorun true}}}
